/* styles.css */
.driver-name-1 {
  font-size: 1.25rem;
  font-weight: bold;
}

.driver-name-2 {
  font-size: 1.25rem;
}

.driver-name-3 {
  font-size: 1.25rem;
}

.first-driver {
  color: #000;

  padding: 10px;
  border-radius: 8px;
}

.second-driver {
  color: #000;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 40px;
}

.third-driver {
  color: #000;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 8px;
  margin-top: 40px;
}
